@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Dal.Models.Garage
@{
    Layout = null;
}

<form method="post" class="createNewAccount" autocomplete="off">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>Garage Name:</label>
                <input type="text" asp-for="GarageName" id="value1" placeholder="Enter Garage name" class="bdrheight form-control">
                <span asp-validation-for="GarageName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>Address Line 1:</label>
                <input type="text" asp-for="AddressLine1" id="value2" placeholder="Address Line 1" class="bdrheight form-control">
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>Address Line 2:</label>
                <input type="text" asp-for="AddressLine2" id="value3" placeholder="Address Line 2" class="bdrheight form-control">
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <div class="form-group d-flex flex-column">
                    <label>City:</label>
                    <input type="text" asp-for="City" id="value4" placeholder="Enter City" class="bdrheight form-control">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>State:</label>
                <input type="text" asp-for="State" id="value5" placeholder="Enter State" class="bdrheight form-control">
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <div class="form-group d-flex flex-column">
                    <label>Postal Code:</label>
                    <input type="text" asp-for="PostalCode" id="value6" placeholder="Enter Postal Code" class="bdrheight form-control">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>Open Time:</label>
                <input type="time" asp-for="OpenTime" id="value7" placeholder="What time it opens?" class="bdrheight form-control">
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="form-group d-flex flex-column">
                <label>Close Time:</label>
                <input type="time" asp-for="CloseTime" id="value8" placeholder="What time it closes?" class="bdrheight form-control">
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr style="background-color:red" />
    <h6 class="font-weight-bold mb-5" style="color:dimgray">Enter Price of Packages that you serve:</h6>

    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Service Charges:</label>
                <input type="number" asp-for="ServiceCharge" id="data1" placeholder="What will be your Service charge?" class="bdrheight form-control">
                <span asp-validation-for="ServiceCharge" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Key Registration Charges:</label>
                <input type="number" asp-for="KeyRegistration" id="data2" placeholder="What is your Key Registration charge?" class="bdrheight form-control">
                <span asp-validation-for="KeyRegistration" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Wash and Clean Charges:</label>
                <input type="number" asp-for="WashAndClean" id="data3" placeholder="Price for Vehicle Wash and Clean" class="bdrheight form-control">
                <span asp-validation-for="WashAndClean" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Wheel Alignment Charges:</label>
                <input type="number" asp-for="WheelAlignment" id="data4" placeholder="Price for Wheel alignment" class="bdrheight form-control">
                <span asp-validation-for="WheelAlignment" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>One Wheel Balancing Charges:</label>
                <input type="number" asp-for="WheelBalancing" id="data5" placeholder="Price for Wheel balancing" class="bdrheight form-control">
                <span asp-validation-for="WheelBalancing" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Pickup and Drop Charges:</label>
                <input type="number" asp-for="PickupAndDrop" id="data6" placeholder="Price for pickup and drop vehicle" class="bdrheight form-control">
                <span asp-validation-for="PickupAndDrop" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Pickup or Drop Charges:</label>
                <input type="number" asp-for="PickupOrDrop" id="data7" placeholder="Price for pickup or drop vehicle" class="bdrheight form-control">
                <span asp-validation-for="PickupOrDrop" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>One Side Pickup/Drop Charges:</label>
                <input type="number" asp-for="OneSidePickOrDrop" id="data8" placeholder="Price for one side pickup/drop vehicle" class="bdrheight form-control">
                <span asp-validation-for="OneSidePickOrDrop" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="form-group d-flex flex-column">
                <label>Vehicle Body Clean Charges:</label>
                <input type="number" asp-for="BodyClean" id="data9" placeholder="Price for Vehicle Body Clean" class="bdrheight form-control">
                <span asp-validation-for="BodyClean" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="text-center mt-4">
        <button class="btn submitButton text-light rounded-pill" asp-route-id="@ViewBag.UserId" type="button" id="updateBtns" style="background-color: #6677ef !important;">Update</button>
    </div>
</form>
