@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Dal.ViewModels.ChangePasswordModel
@{
}
<head>
    <style>
        .ah {
            width: 50vw;
        }

        .ht {
            min-height: 46px;
        }
    </style>
</head>
<h3>Change Password</h3>
<hr />
<div class="" id="changePasswordTab" aria-labelledby="">
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success forFadeOut" role="alert">
            Password Updated Successfully
        </div>
    }
    <form method="post" asp-controller="Account" asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="oldPassword">Current Password</label>
            <input type="password" asp-for="CurrentPassword" id="input1" placeholder="Current Password" class="form-control ht" maxlength="20" required>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="newPassword">New Password</label>
            <input type="password" asp-for="NewPassword" id="input2" class="form-control ht" placeholder="New Password" maxlength="20" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group mb-2 col-sm-4 ah">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" id="input3" class="form-control ht " placeholder="Confirm Password" maxlength="20" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" id="input4" class="reschedule-btn rounded-pill text-light text-decoration-none px-4 mt-3 ml-3">
            Update
        </button>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".forFadeOut").delay(5000).fadeOut(1000);
</script>