
@{
    Layout = null;
}

@*<h2 class="text-danger d-flex justify-content-center" style="color: red">Link will be sent</h2>*@
<h3 class="text-danger d-flex justify-content-center" style="color: darksalmon">This is just for checking.</h3>
